In [101]:
import pandas as pd
import numpy as np
import datetime

In [102]:
price_data = pd.read_csv('ERIC-B-2018-01-01-2019-01-01.csv', sep=';')

In [179]:
price_data2 = pd.read_csv('./source_data/SPY.csv', sep=',')
price_data2.head(2)

         Date        Open        High         Low   Close  Adj Close    Volume
0  2001-11-26  115.750000  116.339996  115.070000  115.93  82.458862  13726000
1  2001-11-27  115.620003  116.900002  114.089996  115.43  82.103249  19261400

In [181]:
if 'Adj Close' in price_data2.columns and 'Close' in price_data2.columns:
    print('Both exist')
else:
    print('Adj close does nto exist')

Both exist

In [178]:
price_data2['Closing price'].dtype == np.str

False

In [174]:
price_data2.columns = ['Date', 'Opening price', 'High price', 'Low price', 'Closing price']

price_data2['Date'] = price_data['Date'].str.replace('\D','').astype(int)
        
price_data2 = price_data.sort_values(ascending=True, by=['Date'])


price_data2['Closing price'] = price_data2['Closing price'].str.replace(',','.').astype(float)

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas

In [103]:
price_data.drop(['Unnamed: 11','Bid','Ask','Low price','Average price', 'Total volume', 'Turnover', 'Trades'], inplace=True, axis=1)

In [104]:
# tday = price_data['Date', '']
# cls = price_data['Closing price']

price_data['Date'] = price_data['Date'].str.replace('\D','').astype(int)

In [105]:
#tday = tday.str.replace('\D','').astype(int)

price_data = price_data.sort_values(ascending=True, by=['Date'])

In [106]:
price_data.head(5)

         Date Opening price High price Closing price
249  20180102         54,20      54,86         54,30
248  20180103         54,42      54,82         54,60
247  20180104         55,00      55,06         54,80
246  20180105         54,98      55,62         55,46
245  20180108         55,46      55,80         55,50

In [109]:
price_data['Closing price'] = price_data['Closing price'].str.replace(',','.').astype(float)

In [124]:
cls = np.array(price_data['Closing price'])

54.3

In [131]:
daily_returns = (cls[1:] - cls[:len(cls)-1])/cls[:len(cls)-1]

In [132]:
excess_daily_returns = daily_returns - 0.04/252

In [135]:
(np.sqrt(252) * np.mean(excess_daily_returns))/np.std(excess_daily_returns)

1.1267069729215415

In [145]:
cls[1:]

array([54.6 , 54.8 , 55.46, 55.5 , 56.02, 55.3 , 55.88, 56.48, 56.36,
       56.  , 57.82, 58.5 , 58.56, 57.28, 57.08, 56.48, 54.6 , 54.04,
       54.98, 55.7 , 50.6 , 52.14, 53.8 , 51.6 , 50.14, 52.42, 51.56,
       51.78, 52.5 , 52.82, 53.06, 53.74, 54.08, 53.48, 54.74, 54.82,
       54.6 , 55.94, 56.64, 56.68, 55.76, 54.24, 53.78, 55.56, 55.76,
       55.52, 56.62, 56.94, 56.74, 56.1 , 55.92, 56.26, 55.78, 54.8 ,
       54.36, 54.82, 53.72, 53.94, 52.38, 53.7 , 53.96, 52.92, 52.14,
       51.52, 53.12, 52.82, 52.64, 53.14, 52.88, 53.56, 53.  , 53.38,
       54.82, 54.18, 55.56, 65.28, 65.  , 65.76, 66.82, 65.76, 65.7 ,
       67.2 , 66.72, 66.08, 68.14, 69.56, 69.52, 70.4 , 68.28, 67.5 ,
       67.28, 66.8 , 67.4 , 67.66, 67.64, 66.44, 65.28, 65.52, 65.26,
       64.8 , 64.84, 64.2 , 63.96, 64.18, 64.08, 64.16, 63.5 , 63.42,
       63.2 , 63.64, 66.64, 68.18, 68.06, 68.  , 69.96, 70.5 , 68.6 ,
       67.56, 67.16, 67.8 , 66.8 , 69.26, 67.78, 67.2 , 66.36, 66.6 ,
       67.56, 67.78, 68.5 , 67.48, 68.34, 68.98, 67.74, 67.58, 73.34,
       73.4 , 73.1 , 72.42, 72.6 , 72.8 , 71.86, 70.64, 69.96, 68.88,
       70.02, 69.56, 70.68, 70.98, 71.14, 71.8 , 71.78, 71.3 , 71.2 ,
       71.3 , 70.82, 71.74, 71.92, 72.78, 73.96, 74.42, 75.68, 78.2 ,
       78.56, 78.7 , 78.76, 77.58, 77.14, 77.86, 77.64, 76.34, 78.88,
       78.52, 77.64, 77.64, 76.5 , 77.66, 78.22, 77.  , 77.74, 77.86,
       77.06, 77.62, 78.8 , 80.08, 79.5 , 79.76, 78.88, 79.62, 79.48,
       80.3 , 80.62, 78.8 , 77.92, 79.62, 77.44, 74.58, 73.86, 73.84,
       76.9 , 78.  , 82.82, 84.94, 83.66, 81.8 , 81.5 , 79.5 , 78.7 ,
       79.06, 79.24, 79.78, 80.06, 81.  , 81.06, 80.92, 81.74, 81.7 ,
       81.84, 80.3 , 81.  , 77.64, 76.46, 76.96, 75.92, 73.78, 74.24,
       73.12, 75.98, 76.42, 75.38, 75.92, 75.88, 75.92, 78.64, 76.8 ,
       75.24, 76.6 , 79.2 , 78.66, 80.3 , 82.86, 82.7 , 82.2 , 81.26,
       80.66, 80.46, 78.68, 77.94, 75.4 , 77.92])

In [144]:
cls[:len(cls)-1]

array([54.3 , 54.6 , 54.8 , 55.46, 55.5 , 56.02, 55.3 , 55.88, 56.48,
       56.36, 56.  , 57.82, 58.5 , 58.56, 57.28, 57.08, 56.48, 54.6 ,
       54.04, 54.98, 55.7 , 50.6 , 52.14, 53.8 , 51.6 , 50.14, 52.42,
       51.56, 51.78, 52.5 , 52.82, 53.06, 53.74, 54.08, 53.48, 54.74,
       54.82, 54.6 , 55.94, 56.64, 56.68, 55.76, 54.24, 53.78, 55.56,
       55.76, 55.52, 56.62, 56.94, 56.74, 56.1 , 55.92, 56.26, 55.78,
       54.8 , 54.36, 54.82, 53.72, 53.94, 52.38, 53.7 , 53.96, 52.92,
       52.14, 51.52, 53.12, 52.82, 52.64, 53.14, 52.88, 53.56, 53.  ,
       53.38, 54.82, 54.18, 55.56, 65.28, 65.  , 65.76, 66.82, 65.76,
       65.7 , 67.2 , 66.72, 66.08, 68.14, 69.56, 69.52, 70.4 , 68.28,
       67.5 , 67.28, 66.8 , 67.4 , 67.66, 67.64, 66.44, 65.28, 65.52,
       65.26, 64.8 , 64.84, 64.2 , 63.96, 64.18, 64.08, 64.16, 63.5 ,
       63.42, 63.2 , 63.64, 66.64, 68.18, 68.06, 68.  , 69.96, 70.5 ,
       68.6 , 67.56, 67.16, 67.8 , 66.8 , 69.26, 67.78, 67.2 , 66.36,
       66.6 , 67.56, 67.78, 68.5 , 67.48, 68.34, 68.98, 67.74, 67.58,
       73.34, 73.4 , 73.1 , 72.42, 72.6 , 72.8 , 71.86, 70.64, 69.96,
       68.88, 70.02, 69.56, 70.68, 70.98, 71.14, 71.8 , 71.78, 71.3 ,
       71.2 , 71.3 , 70.82, 71.74, 71.92, 72.78, 73.96, 74.42, 75.68,
       78.2 , 78.56, 78.7 , 78.76, 77.58, 77.14, 77.86, 77.64, 76.34,
       78.88, 78.52, 77.64, 77.64, 76.5 , 77.66, 78.22, 77.  , 77.74,
       77.86, 77.06, 77.62, 78.8 , 80.08, 79.5 , 79.76, 78.88, 79.62,
       79.48, 80.3 , 80.62, 78.8 , 77.92, 79.62, 77.44, 74.58, 73.86,
       73.84, 76.9 , 78.  , 82.82, 84.94, 83.66, 81.8 , 81.5 , 79.5 ,
       78.7 , 79.06, 79.24, 79.78, 80.06, 81.  , 81.06, 80.92, 81.74,
       81.7 , 81.84, 80.3 , 81.  , 77.64, 76.46, 76.96, 75.92, 73.78,
       74.24, 73.12, 75.98, 76.42, 75.38, 75.92, 75.88, 75.92, 78.64,
       76.8 , 75.24, 76.6 , 79.2 , 78.66, 80.3 , 82.86, 82.7 , 82.2 ,
       81.26, 80.66, 80.46, 78.68, 77.94, 75.4 ])

In [148]:
cls[:250]

array([54.3 , 54.6 , 54.8 , 55.46, 55.5 , 56.02, 55.3 , 55.88, 56.48,
       56.36, 56.  , 57.82, 58.5 , 58.56, 57.28, 57.08, 56.48, 54.6 ,
       54.04, 54.98, 55.7 , 50.6 , 52.14, 53.8 , 51.6 , 50.14, 52.42,
       51.56, 51.78, 52.5 , 52.82, 53.06, 53.74, 54.08, 53.48, 54.74,
       54.82, 54.6 , 55.94, 56.64, 56.68, 55.76, 54.24, 53.78, 55.56,
       55.76, 55.52, 56.62, 56.94, 56.74, 56.1 , 55.92, 56.26, 55.78,
       54.8 , 54.36, 54.82, 53.72, 53.94, 52.38, 53.7 , 53.96, 52.92,
       52.14, 51.52, 53.12, 52.82, 52.64, 53.14, 52.88, 53.56, 53.  ,
       53.38, 54.82, 54.18, 55.56, 65.28, 65.  , 65.76, 66.82, 65.76,
       65.7 , 67.2 , 66.72, 66.08, 68.14, 69.56, 69.52, 70.4 , 68.28,
       67.5 , 67.28, 66.8 , 67.4 , 67.66, 67.64, 66.44, 65.28, 65.52,
       65.26, 64.8 , 64.84, 64.2 , 63.96, 64.18, 64.08, 64.16, 63.5 ,
       63.42, 63.2 , 63.64, 66.64, 68.18, 68.06, 68.  , 69.96, 70.5 ,
       68.6 , 67.56, 67.16, 67.8 , 66.8 , 69.26, 67.78, 67.2 , 66.36,
       66.6 , 67.56, 67.78, 68.5 , 67.48, 68.34, 68.98, 67.74, 67.58,
       73.34, 73.4 , 73.1 , 72.42, 72.6 , 72.8 , 71.86, 70.64, 69.96,
       68.88, 70.02, 69.56, 70.68, 70.98, 71.14, 71.8 , 71.78, 71.3 ,
       71.2 , 71.3 , 70.82, 71.74, 71.92, 72.78, 73.96, 74.42, 75.68,
       78.2 , 78.56, 78.7 , 78.76, 77.58, 77.14, 77.86, 77.64, 76.34,
       78.88, 78.52, 77.64, 77.64, 76.5 , 77.66, 78.22, 77.  , 77.74,
       77.86, 77.06, 77.62, 78.8 , 80.08, 79.5 , 79.76, 78.88, 79.62,
       79.48, 80.3 , 80.62, 78.8 , 77.92, 79.62, 77.44, 74.58, 73.86,
       73.84, 76.9 , 78.  , 82.82, 84.94, 83.66, 81.8 , 81.5 , 79.5 ,
       78.7 , 79.06, 79.24, 79.78, 80.06, 81.  , 81.06, 80.92, 81.74,
       81.7 , 81.84, 80.3 , 81.  , 77.64, 76.46, 76.96, 75.92, 73.78,
       74.24, 73.12, 75.98, 76.42, 75.38, 75.92, 75.88, 75.92, 78.64,
       76.8 , 75.24, 76.6 , 79.2 , 78.66, 80.3 , 82.86, 82.7 , 82.2 ,
       81.26, 80.66, 80.46, 78.68, 77.94, 75.4 , 77.92])